@font-face {
  font-family: 'NanumHyejun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2021-03@1.0/NanumHyejunRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumBarunpen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
